#header-slider {
    padding-bottom: 52px;
}
.typing {
    min-height: 90px;
}
.rotation {
    transition: 1s ease;
    transform: translateX(-100px) rotate(0deg);
}
.card.pricing-box:hover {
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.1);
}
.pricing-box img.vert-move{
    animation: none;
}
.pricing-box:hover img.vert-move{
    animation: mover 1s infinite alternate;
}
.slider-content {
    padding-top: 0;
    transform: translateY(50%);
}
.w150 {
    width: 150px;
}

/* Promo */
.pricing-box svg {
    width: 160px;
    height: 160px;
}
#product-slider img {
    object-fit: contain;
}

.bw-img {
    filter: grayscale(1);
    opacity: .5;
}
.list-pelanggan {
    justify-content: center;
}
.pelanggan-content {
    display: none;
}
.pelanggan-content:first-child, .pelanggan-content:nth-child(2), .pelanggan-content:nth-child(3), .pelanggan-content:nth-child(4), .pelanggan-content:nth-child(5), .pelanggan-content:nth-child(6) {
    display: block !important;
}


/*keunggulan*/
.card100 {
    height: 100%;
}
.space-bottom{
    margin-bottom:20px;
}

/* .off-led {
    display: none;
} */
.pricing-box:hover svg {
    animation: mover 1s infinite alternate;
}

/*search domain*/
#searchModal .tables-cell {
    display: table-cell !important;
    vertical-align: middle !important;
}
#searchModal .tables {
    display: table !important;
}
#searchModal .wdth-50 {
    width: 50% !important;
}
#searchModal .tables-cell a {
    text-align: center;
    display: inline-block;
    margin: 20px;
}
#searchModal #f-message {
    text-align: center;
}

#modal-domain .card.pricing-box.spec1 {
    background: #62b5f6;
}
#modal-domain .card.pricing-box.spec2 {
    background: #106cb5;
}
#modal-domain .card.pricing-box.spec3 {
    background: #ff9800;
}
#modal-domain .card-body {
    padding: 0;
}

/* animasi promo */
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#anim_1 {
    animation: fade 3s infinite linear;
}
#anim_2 {
    animation: fade 2s infinite linear;
    animation-delay: 6s;
}
#anim_3 {
    animation: fade 1s infinite linear;
    animation-delay: 2s;
}
#anim_4 {
    animation: fade 2s infinite linear;
    animation-delay: 5s;
}
#anim_5 {
    animation: fade 3s infinite linear;
    animation-delay: 3s;
}
#anim_6 {
    animation: fade 1s infinite linear;
    animation-delay: 4s;
}
#anim_7 {
    animation: fade 1s infinite linear;
    animation-delay: 1s;
}
#anim_8 {
    animation: fade 2s infinite linear;
    animation-delay: 7s;
}
#anim_14 {
    animation: fade 3s infinite linear;
    animation-delay: 7s;
}
#anim_9 {
    animation: fade 1s infinite linear;
    animation-delay: 5s;
}
#anim_10 {
    animation: fade 3s infinite linear;
    animation-delay: 2s;
}#anim_11 {
    animation: fade 2s infinite linear;
    animation-delay: 1s;
}
#anim_12 {
    animation: fade 3s infinite linear;
    animation-delay: 7s;
}
#anim_13 {
    animation: fade 2s infinite linear;
    animation-delay: 6s;
}

@media (min-width: 1600px){
    .slider-content {
        padding-top: 0;
    }
}
@media (max-width: 1547px){
    .title-prod {
        height: 60px;
    }
}
@media (max-width: 1488px){
    .desc-prod {
        min-height: 120px;
    }
}

@media (max-width: 1337px){
    .desc-prod {
        min-height: 150px;
    }
}

@media (max-width: 1460px){
    .typing {
        min-height: 130px;
    }
}
@media (max-width: 1200px){
    .carousel-inner {
        display: block;
    }
    .slider-content {
        /* padding-top: 30%; */
    }
    .main-banner svg.img-fluid {
        margin-right: 0;
        padding-right: 12px;
    }
}
@media (max-width: 1099px){
    #bikin-website {
        background-size: 50%;
        background-position-y: bottom;
        background-position-x: -80px;
    }
}
@media (max-width: 834px){
    .typing {
        min-height: 180px;
    }
}
@media (max-width: 767px) {
    .slider-content {
        position: relative;
        padding-top: 10%;
        transform: translateY(0%);
    }
    .carousel-inner {
        display: none;
    }
    .typing {
        min-height: 130px;
    }
}

@media (max-width: 614px){
    .desc-prod {
        min-height: 200px;
    }
}

@media (max-width: 599px){
    .desc-prod {
        min-height: 100px;
    }
    .title-prod {
        height: 30px;
    }
    #product-slider img {
        width: auto;
    }
    h4.price-prod {
        font-size: 20px;
    }
    
    /* @author aep*/
    .pelanggan-content {
        text-align:center;
    }
    
    
    #subscribe .col-md-2 {
        margin-top : 1em;
    }
    
}

@media (max-width: 375px) {
    .slider-content h1.typing {
        min-height: 173px;
    }
}